body {
    margin: 0;
    border-style: none;
    height: 100%;
}

.header {
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;

}

.user {
    display: flex;
    width: 6em;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.navbar {
    display: flex;
    width: 26em;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 8px;
}

.rectangle {
    display: flex;
    background-color: #1C457C;
    /* width: 135px; */
    width: 6.5em;
    height: 1.5em;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.navbar-el {
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size:17px;
    font-family: PT Serif Caption;
}

.navbar-el:hover {
    background-color: #1c467cae;
    color:white;
    transition: all .1s ease-in-out;
}

.active {
    background-color: #1c467cae;
    color:white;
}
