{% extends 'main/template.html' %}

{% load static %}

{% block title %}Вкладка №3{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'events/events.css' %}">
{% endblock %}

{% block content %}
<div class="main-block">
    <div class="navbar-second">
        <div class="prev">
            <h3>Вкладка №3</h3>
        </div>
        <div class="inform">
            <p>Добавить карточку</p>
            <img class='filter' src="{% static 'users/filter.png' %}" alt="">
            <img class='search' src="{% static 'users/search.png' %}" alt="">
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="inf">
                <p class="date">дата</p>
                <p class="name">НАЗВАНИЕ КАРТОЧКИ №1</p>
                <p class="description">Краткое или полное описание карточки №1</p>
                <p class="dop">Доп. информация по карточке</p>
                <p class="status">Статус: положительно</p>
                <button class="change">Редактировать</button>
            </div>
        </div>
        
        <div class="card">
            <div class="inf">
                <p class="date">дата</p>
                <p class="name">НАЗВАНИЕ КАРТОЧКИ №2</p>
                <p class="description">Краткое или полное описание карточки №2</p>
                <p class="dop">Доп. информация по карточке</p>
                <p class="status">Статус: отрицательно</p>
                <button class="change">Редактировать</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}